body {
  font-family: "Kaushan Script", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;

  header {
    background-image: url("./images/eagle.jpg");
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: 100% 100%;
    // width: 100vw;
    height: 100vh;
    color: white;

    nav:first-child {
      display: block;
      font-size: 0;
      margin: 0 auto 15vh auto;
      width: 70%;
      padding-top: 3vh;

      .logo {
        width: 45%;
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 1.9vw;
      }
      a {
        text-decoration: none;
        cursor: pointer;
        color: white;
      }

      ul {
        width: 52%;
        display: inline-block;

        li {
          display: inline-block;
          box-sizing: border-box;
          text-align: center;
          width: 14%;
          font-size: 0.65vw;
        }

        li:first-child:hover {
          color: #fce38a;
          text-decoration: underline 2px solid #fce38a;
        }
      }
    }

    h3 {
      font-family: "Kaushan Script", cursive;
      text-align: center;
      font-size: 3.75vw;
      margin-bottom: 4vh;
    }

    h1 {
      font-size:  7.8vw;
      font-weight: bold;
      text-align: center;
    }

    .line {
      display: block;
      margin: auto;
      width: 3.125vw;
      height: 0.3vh;
      margin-top: 5.1vh;
      margin-bottom: 5.1vh;
    }

    input {
      // padding: 2.2vh 2vw;
      background-color: #efc888;
      border: 2px solid #ffffff;
      color: #ffffff;
      font-size: 0.72vw;
      display: block;
      margin: auto;
      width: 8.38vw;
      height: 4.3vh;
    }
    nav:last-child {
      width: 70%;
      display: block;
      margin: auto;
      font-size: 0;

      img {
        width: 15.5vw;
        height: 3px;
        margin: 15vh 1.8vw 1vh 0;
      }

      .red-hover:hover {
        background-image: url("./images/pr_bar.png");
        width: 15.5vw;
        height: 3px;
      }

      a {
        text-decoration: none;
        color: white;
        display: inline-block;
        padding-bottom: 2.7vh;

        h4 {
          font-size: 0.9vw;

          span {
            font-size: 1.3vw;
            font-weight: bold;
          }
        }
      }
    }
  }

  .wrapper {
    width: 75%;
    display: block;
    margin: auto;

    .about {
      text-align: center;
      margin-top: 13.9vh;

      div img {
        display: inline-block;
        width: 20vw;
        height: 31.2vh;
        padding-bottom: 15.7vh;
      }

      div img:first-child {
        width: 22vw;
        height: 33vh;
        margin-right: 1.5vw;
      }

      div img:last-child {
        margin-left: 1vw;
      }

      h5 {
        font-family: "Kaushan Script", cursive;
        font-size: 1.56vw;
      }

      h2 {
        font-size: 1.95vw;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        line-height: 1.6;
      }

      .line-red {
        background-color: #f7adad;
        width: 4vw;
        height: 0.3vh;
        margin-top: 5vh;
      }

      p {
        width: 52vw;
        font-family: "Roboto", sans-serif;
        font-size: 0.97vw;
        color: #999999;
        display: block;
        margin: auto;
        line-height: 1.6;
        margin-top: 6.4vh;
        margin-bottom: 12vh;
      }
    }
  }

  .numbers {
    display: block;
    background-color: #95e1d3;
    height: 34vh;

    .row {
        display: block;
        width: 70%;
        margin: auto;
        font-size: 0;
        
    }

    .row div {
      display: inline-block;
      color: white;
      width: 14%;
      text-align: center;
      transform: translateY(100%);
      padding-right: 1.6vw;
      padding-left: 1.6vw;
      border-right: 2px solid white;

      h6 {
        font-family: "Montserrat", sans-serif;
        font-size: 4.7vw;
        font-weight: bold;
       
      }

      p {
          font-size: 0.7vw;
          font-family: "Montserrat", sans-serif;
      }
    }
  }
}
