body {
  font-family: "Kaushan Script", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

body .wrapper {
  width: 75%;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 0;
}

body > a {
  text-decoration: none;
  cursor: pointer;
}

header {
  background-image: url("./images/eagle.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  color: white;
}

header nav:first-child {
  display: block;
  font-size: 0;
  margin: 0 auto 12vh auto;
  width: 70%;
  padding-top: 3vh;
}

header nav:first-child .logo {
  width: 45%;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.9vw;
}

header nav:first-child a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

header nav:first-child ul {
  width: 52%;
  display: inline-block;
}

header nav:first-child ul li {
  display: inline-block;
  text-align: center;
  width: 14%;
  font-size: 0.65vw;
  padding-bottom: 0.8vh;
  cursor: pointer;
}

header nav:first-child ul li:hover {
  color: #fce38a;
  -webkit-text-decoration: underline 2px solid #fce38a;
          text-decoration: underline 2px solid #fce38a;
  text-underline-offset: 1vh;
}

header h2 {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 3.75vw;
  margin-bottom: 4vh;
}

header h1 {
  font-size: 7.8vw;
  font-weight: bold;
  text-align: center;
}

header .line {
  display: block;
  margin: auto;
  width: 3.125vw;
  height: 0.3vh;
  margin-top: 5.1vh;
  margin-bottom: 5.1vh;
}

header input {
  background-color: #efc888;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 0.72vw;
  display: block;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 8vh;
  width: 8.38vw;
  height: 4.3vh;
  cursor: pointer;
}

header input:hover {
  background-color: #fce38a;
}

header nav:last-child {
  width: 70%;
  display: block;
  margin: auto;
  font-size: 0;
}

header nav:last-child .second-row {
  display: inline-block;
  background: transparent;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 2px solid rgba(255, 255, 255, 0.6);
  width: 14vw;
  text-align: left;
  color: #ffffff;
  padding-top: 1.2vh;
  margin: 10vh 1.5vw 0 1.8vw;
  cursor: pointer;
}

header nav:last-child .second-row h4 {
  font-size: 0.9vw;
}

header nav:last-child .second-row h4 span {
  font-size: 1.3vw;
  font-weight: bold;
}

header nav:last-child .second-row:hover {
  border-top: 2px solid #f38181;
  width: 14vw;
}

.about {
  text-align: center;
  margin-top: 13.9vh;
}

.about .wrapper div img {
  display: inline-block;
  width: 20.2vw;
  height: 27.03vh;
  padding-bottom: 10.63vh;
  margin-left: 1.15vw;
  cursor: pointer;
}

.about .wrapper div img:hover {
  content: url("./images/super_team.png");
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.about .wrapper h5 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
}

.about .wrapper h2 {
  font-size: 1.56vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.6;
}

.about .wrapper .line-red {
  background-color: #f7adad;
  width: 4vw;
  height: 0.3vh;
  margin-top: 4.02vh;
}

.about .wrapper p {
  width: 52vw;
  font-family: "Roboto", sans-serif;
  font-size: 0.97vw;
  color: #999999;
  display: block;
  margin: auto;
  line-height: 1.6;
  margin-top: 3.72vh;
  margin-bottom: 8.98vh;
}

.numbers {
  display: block;
  background-color: #95e1d3;
  height: 28vh;
  margin-bottom: 11.24vh;
  position: relative;
}

.numbers .row {
  display: block;
  width: 70%;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
}

.numbers .row .vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 271px;
  width: 1px;
}

.numbers .row div {
  display: inline-block;
  color: white;
  width: 14%;
  text-align: center;
  padding: 0 1.6vw 0 1.6vw;
}

.numbers .row div h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75vw;
  font-weight: bold;
  margin-bottom: 3.1vh;
}

.numbers .row div p {
  font-size: 0.74vw;
  font-family: "Montserrat", sans-serif;
}

.services {
  text-align: center;
  margin-top: 11.5vh;
  margin-bottom: 11.5vh;
}

.services .wrapper h5 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
}

.services .wrapper h2 {
  font-size: 1.56vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  margin: 1.1vh 0 4.2vh 0;
}

.services .wrapper .line-red {
  display: block;
  margin: auto;
  background-color: #f7adad;
  width: 4vw;
  height: 0.3vh;
  margin-top: 4vh;
  margin-bottom: 6.8vh;
}

.services .wrapper div {
  display: inline-block;
  text-align: left;
}

.services .wrapper div h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.73vw;
  font-size: bold;
  color: #333333;
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin-left: 1vw;
}

.services .wrapper div p {
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  color: #999999;
  line-height: 1.6;
  margin-bottom: 3vh;
  margin-left: 1vw;
  width: 30vh;
}

.services .wrapper div .small-icon {
  display: inline-block;
  width: 1.7vw;
  height: 3.3vh;
  margin-top: 2vh;
  margin-right: 1vw;
  margin-left: 2vw;
  vertical-align: top;
}

.services .wrapper .horizontal-line {
  width: 85%;
  height: 1px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 2vh;
}

.design {
  background-image: url("./images/layer_mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  text-align: center;
  padding-top: 12vh;
  margin-bottom: 12vh;
}

.design .wrapper h5 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
}

.design .wrapper h2 {
  font-size: 1.56vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.6;
}

.design .wrapper .line-red {
  background-color: #f7adad;
  width: 4vw;
  height: 0.3vh;
  margin-top: 4.02vh;
}

.design .wrapper div img {
  display: block;
  margin: auto;
  margin-top: 53px;
}

.weDo {
  height: 80vh;
  text-align: center;
  padding-top: 12vh;
  margin-bottom: 10vh;
}

.weDo .wrapper h5 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
}

.weDo .wrapper h2 {
  font-size: 1.56vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.6;
}

.weDo .wrapper .line-red {
  background-color: #f7adad;
  width: 4vw;
  height: 0.3vh;
  margin-top: 4.02vh;
}

.weDo .wrapper p {
  width: 52vw;
  font-family: "Roboto", sans-serif;
  font-size: 0.97vw;
  color: #999999;
  display: block;
  margin: auto;
  line-height: 1.6;
  margin-top: 3.72vh;
  margin-bottom: 8.98vh;
}

.weDo .wrapper .creativity {
  font-size: 0;
  height: 450px;
}

.weDo .wrapper .creativity .left {
  display: inline-block;
  width: 40%;
  margin-right: 5%;
  vertical-align: top;
}

.weDo .wrapper .creativity .left img {
  width: 100%;
  height: 400px;
}

.weDo .wrapper .creativity .right {
  display: inline-block;
  width: 45%;
  height: auto;
  position: relative;
}

.weDo .wrapper .creativity .right div {
  border: solid 1px #999999;
  font-size: 0;
  text-align: left;
}

.weDo .wrapper .creativity .right div a,
.weDo .wrapper .creativity .right div h3,
.weDo .wrapper .creativity .right div p {
  display: inline-block;
  color: #333333;
  font-size: 14px;
  padding: 15px;
  vertical-align: middle;
}

.weDo .wrapper .creativity .right div a:last-child {
  position: absolute;
  right: 15px;
}

.weDo .wrapper .creativity .right div a:last-child {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.weDo .wrapper .creativity .right div a:nth-child(2) {
  height: 14.5vh;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.weDo .wrapper .creativity .right div:nth-child(2) {
  border-top: none;
}

.weDo .wrapper .creativity .right div:nth-child(2) p {
  padding: 15px;
  font-style: italic;
  font-size: 15px;
  line-height: 1.6;
  width: 29vw;
  margin-bottom: 0;
  margin-top: 0;
  height: 132px;
  overflow: hidden;
}

.weDo .wrapper .creativity .right div:nth-child(3) {
  margin: 12px 0 12px 0;
}

.slides {
  background-color: #f8f8f8;
  height: 33vh;
  margin-bottom: 12vh;
  text-align: center;
  position: relative;
}

.slides .wrapper .center > div {
  display: inline-block;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.slides .wrapper .center > div p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.8;
  font-size: 1.25vw;
  color: #999999;
  width: 38.8vw;
  text-align: left;
  margin-left: 3.3vw;
  vertical-align: top;
}

.slides .wrapper .center > div .line-red {
  display: inline-block;
  background-color: #f7adad;
  width: 3.1vw;
  height: 0.3vh;
  margin-top: 3vh;
  margin-right: 0.52vw;
}

.slides .wrapper .center > div h5 {
  display: inline-block;
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
}

.slides .wrapper .chat-border {
  border: 3px solid #95e1d3;
  padding: 45px;
}

.slides .wrapper .first {
  text-align: left;
  margin-left: 3.3vw;
}

.slides .wrapper .first img {
  margin-right: 5px;
  margin-bottom: 5px;
}

.slides .wrapper div#left-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 10%;
  top: 50%;
}

.slides .wrapper div#right-arrow {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
  right: 10%;
  top: 50%;
}

.ourTeam .wrapper h5 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
}

.ourTeam .wrapper h2 {
  font-size: 1.56vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.6;
}

.ourTeam .wrapper .line-red {
  background-color: #f7adad;
  width: 4vw;
  height: 0.3vh;
  margin-top: 4.02vh;
}

.ourTeam .wrapper p {
  width: 52vw;
  font-family: "Roboto", sans-serif;
  font-size: 0.97vw;
  color: #999999;
  display: block;
  margin: auto;
  line-height: 1.6;
  margin-top: 3.72vh;
  margin-bottom: 8.98vh;
}

.ourTeam .wrapper a {
  text-decoration: none;
}

.ourTeam .wrapper .left,
.ourTeam .wrapper .center,
.ourTeam .wrapper .right {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin-right: 2%;
  text-align: center;
}

.ourTeam .wrapper .left h3,
.ourTeam .wrapper .center h3,
.ourTeam .wrapper .right h3 {
  margin: 30px 0 15px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  letter-spacing: 1px;
}

.ourTeam .wrapper .left p,
.ourTeam .wrapper .center p,
.ourTeam .wrapper .right p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  width: 150px;
}

.ourTeam .wrapper .left .member,
.ourTeam .wrapper .center .member,
.ourTeam .wrapper .right .member {
  display: inline-block;
  position: relative;
  max-width: 100%;
  height: auto;
}

.ourTeam .wrapper .left .member > img,
.ourTeam .wrapper .center .member > img,
.ourTeam .wrapper .right .member > img {
  width: 100%;
  height: auto;
}

.ourTeam .wrapper .left .member:hover,
.ourTeam .wrapper .center .member:hover,
.ourTeam .wrapper .right .member:hover {
  -webkit-box-shadow: 10px 10px 7px #95e1d3;
          box-shadow: 10px 10px 7px #95e1d3;
  bottom: 10px;
  right: 10px;
}

.ourTeam .wrapper .left .member div,
.ourTeam .wrapper .center .member div,
.ourTeam .wrapper .right .member div {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f0e290da), to(#e98b89da));
  background-image: linear-gradient(0deg, #f0e290da 0%, #e98b89da 100%);
  min-width: 100%;
  min-height: 100%;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ourTeam .wrapper .left .member div img,
.ourTeam .wrapper .center .member div img,
.ourTeam .wrapper .right .member div img {
  padding-top: 50%;
}

.ourTeam .wrapper .left .member:hover div,
.ourTeam .wrapper .center .member:hover div,
.ourTeam .wrapper .right .member:hover div {
  display: block;
}

.ourTeam .wrapper .right {
  margin-right: 0;
}

.logos {
  height: 251px;
  background: #f8f8f8;
  margin-bottom: 12vh;
}

.logos .wrapper img {
  display: block;
  margin: auto;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.ourWorks {
  height: auto;
  text-align: center;
}

.ourWorks .wrapper h5 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
}

.ourWorks .wrapper h2 {
  font-size: 1.56vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.6;
}

.ourWorks .wrapper .line-red {
  background-color: #f7adad;
  width: 4vw;
  height: 0.3vh;
  margin-top: 4.02vh;
}

.ourWorks .wrapper p {
  width: 52vw;
  font-family: "Roboto", sans-serif;
  font-size: 0.97vw;
  color: #999999;
  display: block;
  margin: auto;
  line-height: 1.6;
  margin-top: 3.72vh;
  margin-bottom: 8.98vh;
}

.wallpaper {
  font-size: 0;
  margin-bottom: 90px;
}

.wallpaper > div {
  display: inline-block;
  width: 25%;
}

.wallpaper > div > a {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  padding-top: 81%;
  height: 0;
  position: relative;
}

.wallpaper > div > a > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wallpaper .first :first-child {
  background-image: url("images/surf.jpg");
}

.wallpaper .first :first-child:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f0e290da), to(#e98b89da)), url("images/surf.jpg");
  background-image: linear-gradient(0deg, #f0e290da 0%, #e98b89da 100%), url("images/surf.jpg");
}

.wallpaper .first :first-child:hover div {
  display: block;
}

.wallpaper .first :last-child {
  background-image: url("images/bridge.jpg");
}

.wallpaper .first :last-child:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f0e290da), to(#e98b89da)), url("images/bridge.jpg");
  background-image: linear-gradient(0deg, #f0e290da 0%, #e98b89da 100%), url("images/bridge.jpg");
}

.wallpaper .second :first-child {
  background-image: url("images/architecture.jpg");
}

.wallpaper .second :first-child:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f0e290da), to(#e98b89da)), url("images/architecture.jpg");
  background-image: linear-gradient(0deg, #f0e290da 0%, #e98b89da 100%), url("images/architecture.jpg");
}

.wallpaper .second :last-child {
  background-image: url("images/architecture_2.jpg");
}

.wallpaper .second :last-child:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f0e290da), to(#e98b89da)), url("images/architecture_2.jpg");
  background-image: linear-gradient(0deg, #f0e290da 0%, #e98b89da 100%), url("images/architecture_2.jpg");
}

.wallpaper .third > a {
  background-image: url("images/sea.jpg");
  padding-top: 162%;
}

.wallpaper .third > a:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f0e290da), to(#e98b89da)), url("images/sea.jpg");
  background-image: linear-gradient(0deg, #f0e290da 0%, #e98b89da 100%), url("images/sea.jpg");
}

.wallpaper .fourth :first-child {
  background-image: url("images/architecture_3.jpg");
}

.wallpaper .fourth :first-child:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f0e290da), to(#e98b89da)), url("images/architecture_3.jpg");
  background-image: linear-gradient(0deg, #f0e290da 0%, #e98b89da 100%), url("images/architecture_3.jpg");
}

.wallpaper .fourth :last-child {
  background-image: url("images/arcitecture_4.jpg");
}

.wallpaper .fourth :last-child:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f0e290da), to(#e98b89da)), url("images/arcitecture_4.jpg");
  background-image: linear-gradient(0deg, #f0e290da 0%, #e98b89da 100%), url("images/arcitecture_4.jpg");
}

.slides2 {
  margin-bottom: 10.67vh;
}

.slides2 .wrapper .first {
  width: auto;
}

.slides2 .wrapper .first img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slides2 .wrapper a {
  cursor: pointer;
}

.slides2 .wrapper a,
.slides2 .wrapper div {
  display: inline-block;
  font-size: 24px;
  line-height: 36px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  color: #999999;
  vertical-align: middle;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slides2 .wrapper .second {
  width: auto;
}

.slides2 .wrapper .third {
  width: 60%;
  padding-right: 40px;
}

.slides2 .wrapper .third h6 {
  font-family: "Kaushan Script", cursive;
  color: black;
  font-size: 24px;
  padding-left: 70px;
  padding-top: 10px;
  position: relative;
}

.slides2 .wrapper .third h6::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.slides2 .wrapper .fourth {
  width: auto;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.clients {
  background-image: url("images/layer_mountains_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.clients .wrapper h5 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
  padding-top: 90px;
}

.clients .wrapper h2 {
  font-size: 1.56vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  line-height: 1.6;
  padding-bottom: 50px;
}

.clients .wrapper h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.clients .wrapper .top-row {
  padding-top: 8vh;
}

.clients .wrapper .top-row,
.clients .wrapper .bottom-row {
  text-align: left;
  font-size: 0;
  padding-bottom: 9vh;
}

.clients .wrapper .top-row .first,
.clients .wrapper .top-row .second,
.clients .wrapper .bottom-row .first,
.clients .wrapper .bottom-row .second {
  display: inline-block;
  width: 50%;
}

.clients .wrapper .top-row .first :first-child,
.clients .wrapper .top-row .second :first-child,
.clients .wrapper .bottom-row .first :first-child,
.clients .wrapper .bottom-row .second :first-child {
  width: 29%;
  display: inline-block;
  vertical-align: top;
}

.clients .wrapper .top-row .first :last-child,
.clients .wrapper .top-row .second :last-child,
.clients .wrapper .bottom-row .first :last-child,
.clients .wrapper .bottom-row .second :last-child {
  width: 70%;
  display: inline-block;
}

.clients .wrapper .top-row .first .first,
.clients .wrapper .top-row .second .first,
.clients .wrapper .bottom-row .first .first,
.clients .wrapper .bottom-row .second .first {
  margin-right: 2%;
}

.clients .wrapper .top-row h3,
.clients .wrapper .bottom-row h3 {
  font-family: "Monserat", sans-serif;
  color: #333333;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.clients .wrapper .top-row .sloping,
.clients .wrapper .bottom-row .sloping {
  font-size: 15px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.clients .wrapper .top-row .sloping::after,
.clients .wrapper .bottom-row .sloping::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.clients .wrapper .top-row p,
.clients .wrapper .bottom-row p {
  font-size: 15px;
  color: #999999;
  line-height: 1.5rem;
}

.blog .wrapper h5 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
  padding-top: 90px;
}

.blog .wrapper h2 {
  font-size: 1.56vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  line-height: 1.6;
  padding-bottom: 50px;
}

.blog .wrapper h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.blog .wrapper article {
  display: inline-block;
  position: relative;
  width: 30%;
  text-align: left;
  margin-right: 2%;
  margin-bottom: 7.3vh;
  margin-top: 5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog .wrapper article :last-child {
  margin-right: 0;
}

.blog .wrapper article a {
  text-decoration: none;
}

.blog .wrapper article a .photo img {
  width: 100%;
  height: auto;
}

.blog .wrapper article a h3 {
  font-size: 14px;
  font-family: 'Montserrat';
  color: #333333;
  text-align: left;
  margin: 20px 0 20px 0;
}

.blog .wrapper article a p {
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  border-bottom: #999999 1px solid;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.blog .wrapper article a .sticky-note {
  position: absolute;
  text-align: center;
  top: 41%;
  left: -2%;
  width: 60px;
  height: 70px;
  background: #95e1d3;
}

.blog .wrapper article a .sticky-note h4 {
  color: #ffffff;
  font-size: 14px;
}

.blog .wrapper article a .sticky-note h4 span {
  display: block;
  padding-top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.blog .wrapper div:last-child a {
  margin-right: 16px;
}

.blog .wrapper div:last-child a img {
  display: inline-block;
}

.blog .wrapper div:last-child a p {
  border-bottom: none;
  font-size: 0.95rem;
  display: inline-block;
  margin-left: 0.3rem;
  font-size: 0.95rem;
  font-family: 'Roboto', sans-serif;
  color: #999999;
}
/*# sourceMappingURL=style.css.map */