body {
  font-family: "Kaushan Script", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

body header {
  background-image: url("./images/eagle.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  color: white;
}

body header nav:first-child {
  display: block;
  font-size: 0;
  margin: 0 auto 12vh auto;
  width: 70%;
  padding-top: 3vh;
}

body header nav:first-child .logo {
  width: 45%;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.9vw;
}

body header nav:first-child a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

body header nav:first-child ul {
  width: 52%;
  display: inline-block;
}

body header nav:first-child ul li {
  display: inline-block;
  text-align: center;
  width: 14%;
  font-size: 0.65vw;
  padding-bottom: 0.8vh;
}

body header nav:first-child ul li:hover {
  color: #fce38a;
  -webkit-text-decoration: underline 2px solid #fce38a;
          text-decoration: underline 2px solid #fce38a;
  text-underline-offset: 1vh;
}

body header h2 {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 3.75vw;
  margin-bottom: 4vh;
}

body header h1 {
  font-size: 7.8vw;
  font-weight: bold;
  text-align: center;
}

body header .line {
  display: block;
  margin: auto;
  width: 3.125vw;
  height: 0.3vh;
  margin-top: 5.1vh;
  margin-bottom: 5.1vh;
}

body header input {
  background-color: #efc888;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 0.72vw;
  display: block;
  margin: auto;
  width: 8.38vw;
  height: 4.3vh;
}

body header input:hover {
  background-color: #fce38a;
}

body header nav:last-child {
  width: 70%;
  display: block;
  margin: auto;
  font-size: 0;
}

body header nav:last-child img {
  width: 14.6vw;
  height: 2px;
  margin: 15vh 1.8vw 1vh 0;
  -webkit-box-shadow: inset 0 0 0 0 #f38181;
          box-shadow: inset 0 0 0 0 #f38181;
}

body header nav:last-child img:hover {
  -webkit-box-shadow: inset 14.69vw 0 0 0 #f38181;
          box-shadow: inset 14.69vw 0 0 0 #f38181;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

body header nav:last-child a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-bottom: 2.7vh;
}

body header nav:last-child a h4 {
  font-size: 0.9vw;
}

body header nav:last-child a h4 span {
  font-size: 1.3vw;
  font-weight: bold;
}

body .wrapper {
  width: 75%;
  display: block;
  margin: auto;
}

body .wrapper .about {
  text-align: center;
  margin-top: 13.9vh;
}

body .wrapper .about div img {
  display: inline-block;
  width: 20.2vw;
  height: 27.03vh;
  padding-bottom: 10.63vh;
  margin-left: 1.15vw;
}

body .wrapper .about div img:hover {
  content: url("./images/super_team.png");
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

body .wrapper .about h5 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
}

body .wrapper .about h2 {
  font-size: 1.56vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.6;
}

body .wrapper .about .line-red {
  background-color: #f7adad;
  width: 4vw;
  height: 0.3vh;
  margin-top: 4.02vh;
}

body .wrapper .about p {
  width: 52vw;
  font-family: "Roboto", sans-serif;
  font-size: 0.97vw;
  color: #999999;
  display: block;
  margin: auto;
  line-height: 1.6;
  margin-top: 3.72vh;
  margin-bottom: 8.98vh;
}

body .numbers {
  display: block;
  background-color: #95e1d3;
  height: 28vh;
  margin-bottom: 11.24vh;
  position: relative;
}

body .numbers .row {
  display: block;
  width: 70%;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
}

body .numbers .row .vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 271px;
  width: 1px;
}

body .numbers .row div {
  display: inline-block;
  color: white;
  width: 14%;
  text-align: center;
  padding: 0 1.6vw 0 1.6vw;
}

body .numbers .row div h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75vw;
  font-weight: bold;
  margin-bottom: 3.1vh;
}

body .numbers .row div p {
  font-size: 0.74vw;
  font-family: "Montserrat", sans-serif;
}

body .services {
  text-align: center;
  margin-top: 11.5vh;
  margin-bottom: 11.5vh;
}

body .services h5 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.25vw;
}

body .services h2 {
  font-size: 1.56vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.6;
  margin: 1.1vh 0 4.2vh 0;
}

body .services .line-red {
  display: block;
  margin: auto;
  background-color: #f7adad;
  width: 4vw;
  height: 0.3vh;
  margin-top: 4vh;
  margin-bottom: 6.8vh;
}

body .services div {
  display: inline-block;
  text-align: left;
}

body .services div h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.73vw;
  font-size: bold;
  color: #333333;
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin-left: 1vw;
}

body .services div p {
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  color: #999999;
  line-height: 1.6;
  margin-bottom: 3vh;
  margin-left: 1vw;
  width: 30vh;
}

body .services div .small-icon {
  display: inline-block;
  width: 1.7vw;
  height: 3.3vh;
  margin-top: 2vh;
  margin-right: 1vw;
  margin-left: 2vw;
  vertical-align: top;
}

body .services .horizontal-line {
  width: 85%;
  height: 1px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 2vh;
}
/*# sourceMappingURL=style.css.map */